.container {
  background-color: #fff;
  border-radius: 4px;

  flex: 1;
  margin-left: 20px;
}

.title {
  width: 100%;
  padding: 0 30px;
  line-height: 50px;
  border-bottom: 1px solid #ebebeb;
  font-size: 16px;
}

.edit_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  padding-right: 50px;
  padding-left: 30px;
  .edit_label {
    width: 120px;
    text-align: right;
    color: #999;

    margin: auto 0;
    margin-right: 30px;
    font-size: 14px;
  }
  .edit_value {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
.footer {
  text-align: center;
  margin: 20px 0;
}
