.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
}

.header_hero {
  height: 55vh;
  position: relative;
  .header_shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    img {
      width: 100%;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_hero .header_content {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .header_content {
    padding-top: 20px;
  }
}
